@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Scada&family=Roboto:wght@400;700&display=swap");

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

.container {
  max-width: 1240px;
  margin: auto;
  padding: 0 20px 0 20px;
}

section h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
}

.responsive {
  width: 100%;
  height: auto;
}

.date {
  font-size: 0.875rem;
  color: #6f6f6e;
}

.left,
.right {
  background: center / 9px 19px no-repeat url("./images/Vector\ 14.svg"),
    #c4c4c4;
  width: 34px;
  height: 34px;
}

.right {
  transform: rotate(-180deg);
  background-color: #dc911b;
}

.button {
  border: 1px solid #dc911b;
  border-radius: 5px;
  padding: 11px 26px;
  background-color: transparent;
}

.button:hover {
  background-color: #dc911b;
  color: #fff;
}

body {
  width: 100%;
  max-width: 1920px;
  min-width: 480px;
  font-family: "Roboto", sans-serif;
}

/* ---------Header--------- */

header {
  z-index: 2;
  overflow: hidden;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-filter {
  background-color: #dc911b60;
}

nav {
  padding-top: 16px;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  color: #2d2d2d;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-around;
  flex: 1;
}

nav li {
  padding: 10px;
}

nav .menu-icon {
  display: none;
  height: 1.5rem;
  width: 1.5rem;
}

nav .menu-icon img {
  width: 100%;
  height: auto;
}

header .call > div > p {
  padding-left: 10px;
  padding-right: 10px;
}

header .call > p {
  font-size: 0.75rem;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-align: right;
  padding-right: 1.1rem;
}

header .call > div {
  display: flex;
}

.header-image-wrapper {
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
}

.header-content h1 {
  width: 30%;
  text-transform: uppercase;
  color: #3e3e3d;
  font-size: 2rem;
}

/* ---------Services--------- */

section.services {
  padding-top: 99px;
  padding-bottom: 206px;
}

section.services .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.service-card:nth-of-type(2n) {
  flex-direction: row-reverse;
  align-self: flex-end;
}

.service-card:first-of-type {
  margin-top: 60px;
}

.service-card h2 {
  font-size: 1.5rem;
  margin-bottom: 34px;
  text-transform: uppercase;
}

.service-card {
  display: flex;
  margin-bottom: 96px;
  max-width: 1100px;
}

.service-card .card-content {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
}

.service-card .card-content p {
  line-height: 1.5rem;
}

.service-card .img-container {
  flex: 33%;
  min-width: 280px;
  padding-right: 12%;
  position: relative;
}

.service-card:nth-of-type(2n) .img-container {
  padding-right: 0;
  padding-left: 12%;
  text-align: right;
}

.service-card .button {
  align-self: flex-end;
  position: absolute;
  transform: translate(0, 100%);
  bottom: -38px;
  right: 0;
}

/* ---------Reviews--------- */
/* ---------Certificates--------- */

section.reviews,
section.certificates {
  background-color: #3e3e3d;
  color: #fff;
  padding: 125px 40px 66px 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

section.reviews > div:first-of-type,
section.certificates > div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 70%;
}

.gallery {
  display: flex;
  flex-direction: column;
  position: relative;
}

.gallery-inner-container {
  margin-top: 106px;
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: center;
}

.gallery-inner-container img {
  padding-right: 3%;
  padding-bottom: 40px;
  height: auto;
  min-width: 220px;
  flex: 30%;
}

section.reviews .img-container,
section.certificates .img-container {
  position: relative;
  right: 10%;
}

section.certificates .img-container {
  right: 0;
}

.gallery-controls {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.gallery-controls > div:first-of-type {
  display: flex;
}

.gallery-button {
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  right: 36px;
}

/* ---------Projects--------- */

section.projects {
  padding: 76px 30px 76px 30px;
}
.project-card {
  position: relative;
  max-width: 1088px;
  margin: auto;
}

.project-card:first-of-type {
  margin-bottom: 106px;
  margin-top: 98px;
}

.project-card .project {
  grid-area: project;
  background-color: #dc911b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card:nth-of-type(2) .project {
  background: center no-repeat url("./images/Rectangle\ 35.png");
  max-width: 100%;
  background-clip: content-box;
  height: auto;
}

.project-card .project h1 {
  position: absolute;
  left: 0;
}

.project-card .date {
  grid-area: date;
  align-self: end;
  margin-bottom: 16px;
  font-weight: bold;
}

.project-card .project-desc {
  line-height: 1.5rem;
  max-width: 228px;
  grid-area: text;
  align-self: end;
  justify-self: end;
  padding-right: 20px;
  padding-left: 20px;
}
.project-card .project-button {
  justify-self: end;
  grid-area: button;
  align-self: end;
}

.project-card {
  height: 312px;
  display: grid;
  grid-template-columns: 1.3fr 3.5fr 2fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    ". project text"
    "date project button";
}

.all-projects-button {
  display: flex;
  margin-top: 92px;
  align-self: flex-end;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: bold;
}

.all-projects-button p {
  padding-right: 10px;
}

/* ---------News--------- */

section.news {
  padding: 118px 40px 0 40px;
  background: linear-gradient(90deg, #edeeef 50%, #fff 50%);
}

section.news .container {
  display: flex;
  justify-content: center;
}

section.news .container > div:first-of-type {
  max-width: 276px;
}

.news-card {
  display: flex;
  padding-left: 50px;
  flex-direction: column;
  max-width: 276px;
}

.news-card h3,
.news-card .date {
  margin-bottom: 16px;
}

.news-card .right {
  margin-top: 23px;
}

.news-card .news-button {
  align-self: flex-end;
  justify-self: flex-end;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* ---------Contact--------- */

section.contact {
  display: flex;
  justify-content: center;
  padding-top: 216px;
  overflow: hidden;
}

.contact-card {
  background-color: #ffe0b0;
  height: 198px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 140px;
}

.contact-card form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-card h2 {
  text-transform: uppercase;
  padding-bottom: 11px;
  padding-top: 8px;
}

.contact-card p {
  padding-bottom: 30px;
  font-size: 0.875rem;
}

section.contact > img:first-of-type {
  position: relative;
  bottom: 74px;
  left: 44px;
  z-index: 1;
}

section.contact > img:last-of-type {
  position: relative;
  bottom: 70px;
  right: 60px;
  z-index: 3;
}

.contact-card form #name,
.contact-card form #tel {
  border: none;
  background-color: #ffe0b0;
  border-bottom: 1px solid #dc911b;
  color: #3e3e3d;
  margin-right: 27px;
  padding-bottom: 6px;
  box-sizing: border-box;
  padding-left: 10px;
  font-family: "Scada", sans-serif;
}

.contact-card form #tel {
  border-bottom: 1px solid #3e3e3d;
  margin-right: 0;
  margin-left: 27px;
}

.contact-card form input:focus {
  outline: none;
}

.contact-card form #contact-form-submit {
  position: relative;
  transform: translate(0, 100%);
}

/* ---------Articles--------- */

section.articles {
  padding-bottom: 90px;
  padding-top: 120px;
}

section.articles .container {
  display: flex;
  flex-direction: column;
}

section.articles h1 {
  align-self: stretch;
  border-bottom: 1px solid #000;
  margin-bottom: 90px;
}

section.articles .container > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.articles .article {
  flex: 20%;
  padding-left: 3%;
}

.article .date {
  color: #c6c6c6;
  margin-bottom: 10px;
}

.article p {
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 21px;
}

.article p:first-of-type {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.articles-button {
  align-self: flex-end;
  margin-top: 60px;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Clients */

section.clients {
  padding: 51px 0 93px 0;
}

section.clients h1 {
  max-width: 70%;
  text-align: center;
  padding-bottom: 60px;
}

section.clients .container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section.clients img {
  flex: 1 0 24%;
  padding: 60px 40px;
  border: 1px solid #f2f2f2;
  max-width: 220px;
}

/* Footer */

footer {
  background-color: #3e3e3d;
  padding: 30px 0 52px 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}

footer ul {
  flex: 1;
}

footer ul li {
  font-size: 0.875rem;
  color: #777e89;
  line-height: 1.6rem;
}

footer ul li:first-of-type {
  font-weight: bold;
  font-size: 0.9375rem;
  color: #fff;
  margin-bottom: 15px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  flex: 2;
  min-width: 380px;
}

#footer-search {
  margin-bottom: 13px;
  background-color: #3e3e3d;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 12px 0 12px 18px;
}

.footer-contact > div {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #dadada;
}

.footer-contact img {
  vertical-align: middle;
  padding-right: 10px;
}

.footer-contact .button {
  background-color: #dc911b;
  color: #fff;
}

footer hr {
  margin: 55px 0;
  border: 1px solid #777e89;
}

footer .container > div:last-of-type {
  display: grid;
  color: #777e89;
  grid-template-columns: auto auto auto;
}

/* Vector decoration positioning */

.service-card:first-of-type .img-container > .vector:nth-child(2) {
  position: absolute;
  left: 0;
  bottom: 4px;
  transform: translate(-100%, 0);
}

.service-card:first-of-type .img-container > .vector:nth-child(3) {
  position: absolute;
  right: -89%;
  top: 98%;
  z-index: 2;
}

.service-card:nth-child(3) .img-container > .vector {
  position: absolute;
  right: -82.6%;
  top: 97.5%;
  z-index: 2;
  transform: translate(-40%, 0);
}
.service-card:nth-child(4) .img-container > .vector {
  position: absolute;
  right: -103%;
  top: 98%;
  z-index: 2;
}
.service-card:nth-child(5) .img-container > .vector {
  position: absolute;
  right: -77%;
  top: 117.23%;
  z-index: 2;
  transform: translate(0, -50%);
}

/* media queries */

@media only screen and (max-width: 1280px) {
  nav {
    justify-content: space-between;
  }

  .nav-menu {
    display: none;
  }

  nav .menu-icon {
    display: block;
  }

  nav .menu-icon:hover {

  }
  
  .vector {
    display: none;
  }

  section.services .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service-card .img-container img {
    max-width: 100%;
    height: auto;
    position: relative;
  }
}

@media only screen and (max-width: 960px) {
  .service-card {
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
  }

  .service-card .card-content {
    align-items: center;
  }

  .service-card .button {
    align-self: center;
    position: static;
  }

  .service-card:nth-of-type(2n) {
    flex-direction: column;
    align-items: center;
  }

  section.reviews > div:first-of-type,
  section.certificates > div:first-of-type {
    flex: 100%;
  }

  .gallery-inner-container img:last-of-type {
    display: none;
  }

  section.news .container> div:last-of-type, section.news .container> div:first-of-type {
    max-width: 45%;
    flex: 45%;
  }

  section.news {
    padding: 118px 20px 0 20px;
  }

  section.news .container .news-card:nth-child(-n+3) {
    display: none;
  }

  section.contact .contact-card {
    height: 240px;
    padding: 0 80px;
  }

  .contact-card form div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-card form #name {
    margin: 0 0 12px 0;
  }
  .contact-card form #tel {
    margin: 0 0 0 0;
  }

  .footer-nav {
    padding: 0 20px 20px 0;
    flex-wrap: wrap;
  }

  .footer-nav ul {
    padding: 0 20px 20px 0;
  }

  footer .container > div:last-of-type {
    grid-template-columns: auto;
    justify-content: center;
  }

  footer .container > div:last-of-type img {
    padding-top: 20px;
    margin: auto;
  }
}

@media only screen and (max-width: 680px) {
  .header-content {
    flex-direction: column;
  }

  .header-content h1 {
    width: 100%;
    text-align: center;
    padding: 40px 20px 40px 20px;
  }

  section.certificates> .img-container, section.reviews .img-container {
    display: none;
  }

  section.projects .project-card {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        "date project project"
        "text text button";
  }

  section.certificates .gallery img, section.reviews .gallery img {
    width: 100%;
    height: auto;
    min-width: 150px;
  }

  section.certificates .gallery-button, section.reviews .gallery-button {
    right: 10px;
  }

  section.articles .container>div>.article:nth-of-type(n+3)  {
    display: none;
  }
}
